@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500&family=Montez&display=swap');

* {
   margin : 0;
   padding : 0;
   border : none;
}

body{
   background-color: #f4f3ee;
}

h1{
  float: right;
  font-family : Montez, sans-serif;
  color : #3a3a3a;
  letter-spacing: 6px;
  margin-top: 30px;
  margin-right: 30px;
}

hr{
  border-top: 2px solid #3a3a3a;
  width : 100%;
  
}
/* Header */

.header{
   margin-top: 20px;
   height : 120px;
   background-color: #E6BEAE;
   width: 100%;
}

/* Logo */

#logo-image img{
   height: 100px;
   margin: 10px;
   line-height: 75px;
}

 #logo{
    float: right;
    text-decoration: none;
    font-size : 180%;
    line-height: 75px;
 }

 /* Navigation */

 .navigation{
   margin-top: 10px;
   height: 27px;
   width: 100%;
   background-color: #E6BEAE;;
 }

 #menu{
   margin-top : 15px;
   text-align: center;
   overflow: hidden;
 }

 #menu li{
   display: inline;
   padding-left: 80px;
}

 #menu a{
   text-decoration: none;
   font-family: "Hind Siliguri", sans-serif;
   letter-spacing: 1px;
   font-weight: 300;
 }

 /* navigation on hover */

 #menu a:hover {
   padding: 0 5px 3px 5px;
   font-weight: bold;
   border : 1px solid #E6BEAE;
   background-color: #3a3a3a;
   color: #E6BEAE;
 }

 .active{
  padding: 0 5px 3px 5px;
  font-weight: bold;
  border : 1px solid #E6BEAE;
   background-color: #3a3a3a;
   color: #E6BEAE
 }

 .not-active{
  color: black;
 }
 /* Hero image*/

 #hero-outer{
   margin-top: 15px;
   width: 100%;
   height: 500px;
   overflow: hidden;
   position: relative;
 }

 #hero-image{
   width: 100%;
   height: 500px;
   background: url("../images/hero-image1.webp") no-repeat center center;
   background-size: cover;
   animation-name: hero-image-animation;
   animation-duration: 10s; 
   padding: 200px 300px 0 0 ;
 }

 /* hero-image animation */

 @keyframes hero-image-animation {
     40%{
      transform : scale(1.1);
     }
     80%{
      transform : scale(1);
     }
 }

 /* Cover text */

 .image-banner{
   width: 100%;
   height: 120px;
   background-color: rgb(230, 190, 174, 0.4);
   padding: 20px;  
   color: white;
   font-family: Montez , sans-serif;
   font-size: 130%;
   position : absolute;
   bottom: 30px;
 }

 /* Our Kitchen section*/

 #kitchen{
  margin: 18px 0 0 0;
  height: 200px;
  background-color: #E6BEAE;
  padding: 30px
 }

 #kitchen h2{
  text-align: center;
  font-family: Montez, sans-serif;
  font-size: 300%;
  font-weight: bold;
  letter-spacing: 4px;
  color: #3a3a3a;
 }

 #kitchen-p{
  margin: 20px 0 0 0;
  padding: 0 90px 0 90px ;
  font-family: 'Hind Siliguri', sans-serif;
  text-align: center;
  letter-spacing: 1px;
  font-weight:200;
 }

 /* Our Spreciality section */

 #highlights{
  margin-top: 18px;
  height: 1250px;
  background-color: #E6BEAE;

 }

 #highlights h2{
  text-align: center;
  font-family: Montez, sans-serif;
  font-size: 300%;
  font-weight: bold;
  letter-spacing: 4px;
  color: #3a3a3a;
 }

 /* Biryani */

 .border{
  position: relative;
 }

 .border::before{
       content: '';
       position: absolute;
       bottom: 0;
       left: 0;
       border-bottom: 2px solid #3a3a3a;
       width: 10px;
 }

 #biryani{
    padding: 20px;
    width : 30%;
    float: left;
    height: 900px;
 }

 #biryani h2{
  border-bottom: 1px solid black;
 }

 #briyani-img{
    height : 300px;
    width : 300px;
    padding : 30px;
    border-color : #f4f3ee;
    border-style : solid;
    border-width : 8px;
    margin : 10px 0 0 0;
    border-radius : 50%;
    background: url("../images/biryani4.png") no-repeat center center;
    background-size: cover;

 }


 /* Kebab */

 #kebab{
   padding: 20px;
   width : 30%;
   float: right;
   height: 900px;
   margin-right: 20px;
   margin-left: 10px;

 }

 #kebab h2{
  border-bottom: 1px solid black;
  
 }

 #kebab-img{
  height : 300px;
  width : 300px;
  padding : 30px;
  border-color : #f4f3ee;
  border-style : solid;
  border-width : 8px;
  margin : 10px 0 0 0;
  border-radius : 50%;
  background: url("../images/seekh-kebab.jpg") no-repeat center center;
  background-size: cover;
 }


 /* Meetha */

 #meetha{
  padding: 20px;
  width: 33%;
  height: 900px;
  margin: 0 auto;
 }

 #meetha-img{
  height : 300px;
  width : 300px;
  padding : 30px;
  border-color : #f4f3ee;
  border-style : solid;
  border-width : 8px;
  margin : 10px 0 0 0;
  border-radius : 50%;
  background: url("../images/pexels-kulbir-7449105.jpg") no-repeat center center;
  background-size: cover;
 }



/* footer section */
footer{
  margin-top: 20px;
  height : 80px;
  background-color: #E6BEAE;
}

#footer-div { 
  overflow: hidden; 
  text-align: center;
}

span {
  color: #3a3a3a;
  display: inline-block;
  margin: 8px 100px 20px 0;
  padding: 10px;
}


/* footer logo */


/* contact */


#contact {
  margin-bottom: 10px;
  padding-bottom: 20px;
  padding: 10px;
}

#contact h3{
  font-family: Montez, sans-serif;
  font-size : 18px;
  letter-spacing: 2px;
  color : #3a3a3a;
  margin-bottom: 10px;
  border-bottom: 1px solid #3a3a3a;
}

#contact p{
  font-family: "Hind Siligurr", sans-serif;
  font-size: 18px;
}

/* address */

#address{
  margin-bottom: 10px;
  margin-left: 100px;
}

#address h3{
  font-family: Montez, sans-serif;
  font-size : 18px;
  letter-spacing: 2px;
  color : #3a3a3a;
  margin-bottom: 10px;
  border-bottom: 1px solid #3a3a3a;
}

#address p{
  font-family: "Hind Siligurr", sans-serif;
  font-size: 18px;
}


/* social media */

#footer-sm{
  margin-left: 70px;
}

#footer-sm ul{

}

#footer-sm li{
  display : inline;

}

#footer-sm h3{
  font-family: Montez, sans-serif;
  font-size : 18px;
  letter-spacing: 2px;
  color : #3a3a3a;
  margin-bottom: 10px;
  border-bottom: 1px solid #3a3a3a;
}

#footer-sm a{
  font-size : 20px;
  color : #3a3a3a;
  padding-right: 10px;
  margin-left: 5px;
  padding-top: 10px;
}





