@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500&family=Montez&display=swap');

* {
   margin : 0;
   padding : 0;
   border : none;
}

body{
   background-color: #f4f3ee;
}

h1{
  float: right;
  font-family : Montez, sans-serif;
  color : #660708;
  letter-spacing: 6px;
  margin-top: 30px;
  margin-right: 30px;
}

hr{
  border-top: 2px solid #660708;
  width : 100%;
  
}
/* Header */

.header{
   margin-top: 20px;
   height : 120px;
   background-color: #E6BEAE;
   width: 100%;
}

/* Logo */

#logo-image img{
   height: 100px;
   margin: 10px;
   line-height: 75px;
}

 #logo{
    float: right;
    text-decoration: none;
    font-size : 180%;
    line-height: 75px;
 }

 /* Navigation */

 .navigation{
   margin-top: 10px;
   height: 27px;
   width: 100%;
   background-color: #E6BEAE;;
 }

 #menu{
   margin-top : 15px;
   text-align: center;
   overflow: hidden;
 }

 #menu li{
   display: inline;
   padding-left: 80px;
}

 #menu a{
   text-decoration: none;
   font-family: "Hind Siliguri", sans-serif;
   letter-spacing: 1px;
   font-weight: 300;
 }

 /* navigation on hover */

 #menu a:hover {
   padding: 0 5px 3px 5px;
   font-weight: bold;
   border : 1px solid #E6BEAE;
   background-color: #3a3a3a;
   color: #E6BEAE;
 }

 .active{
  padding: 0 5px 3px 5px;
  font-weight: bold;
  border : 1px solid #E6BEAE;
   background-color: #3a3a3a;
   color: #E6BEAE
 }

 .not-active{
  color: black;
 }
 /* Hero image*/

 #hero-outer{
   margin-top: 15px;
   width: 100%;
   height: 500px;
   overflow: hidden;
   position: relative;
 }

 #hero-image{
   width: 100%;
   height: 500px;
   background: url("../images/hero-image1.webp") no-repeat center center;
   background-size: cover;
   animation-name: hero-image-animation;
   animation-duration: 10s; 
   padding: 200px 300px 0 0 ;
 }

 /* hero-image animation */

 @keyframes hero-image-animation {
     40%{
      transform : scale(1.1);
     }
     80%{
      transform : scale(1);
     }
 }

 /* Cover text */

 .image-banner{
   width: 100%;
   height: 120px;
   background-color: rgb(230, 190, 174, 0.4);
   padding: 20px;  
   color: white;
   font-family: Montez , sans-serif;
   font-size: 130%;
   position : absolute;
   bottom: 30px;
 }

 /* Our Kitchen section*/

 #kitchen{
  margin: 18px 0 0 0;
  height: 200px;
  background-color: #E6BEAE;
  padding: 30px
 }

 #kitchen h2{
  text-align: center;
  font-family: Montez, sans-serif;
  font-size: 300%;
  font-weight: bold;
  letter-spacing: 4px;
  color: #660708;
 }

 #kitchen-p{
  margin: 20px 0 0 0;
  padding: 0 90px 0 90px ;
  font-family: 'Hind Siliguri', sans-serif;
  text-align: center;
  letter-spacing: 1px;
  font-weight:200;
 }

 /* Our Spreciality section */

 #highlights{
  margin-top: 18px;
  height: 900px;
  background-color: #E6BEAE;
 }

 #highlights h2{
  text-align: center;
  font-family: Montez, sans-serif;
  font-size: 300%;
  font-weight: bold;
  letter-spacing: 4px;
  color: #660708;
 }

 /* Biryani highlight */
 
 #biryani{
  height: 400px;
  
 }

 /* sprciality section */
 
 .left-container{
  float: left;
     margin: 50px 0 0 30px;
     width: 60vmin;
     position: absolute;
     overflow: hidden;
     border-radius: 2%;
     border: 10px solid #660708;
     box-shadow: 10px 25px 30px rgba(0, 0, 0, 0.3);
 }

 .wrapper{
    width: 100%;
    display: flex;
    animation : slide 20s infinite;
 }

 /* slide animation */

 @keyframes slide{
  0% { transform: translateX(0); }
  25% { transform: translateX(0); }
  30% { transform: translateX(-100%); }
  35% { transform: translateX(-100%); }
  55% { transform: translateX(-200%); }
  75% { transform: translateX(-200%); }
  80% { transform: translateX(-300%); }
  100% { transform: translateX(-300%); }
 }
.wrapper img{
  width: 100%;
  height: 300px;
}

#right-container{
  margin: 50px 30px 0 0;
  clear: left;
  float: right;
  height: 320px;
  width: 55%;
 
  text-align: center;
  border-radius: 5px;
  position: relative;
}

  #right-container h2{
  margin-right: 200px;
  text-align: center;
  font-family: Montez, sans-serif;
  font-size: 300%;
  font-weight: bold;
  letter-spacing: 4px;
  color: #660708;
  position: absolute;
  border-bottom: 2px solid #660708;
}

 